.container {
  padding: 1rem;
  background-color: #0e1117;
  display: grid;
  grid-template-columns: 250px 1fr;
  color: white;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  /* flex: 1; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: white; */
}

@media (max-width: 768px) {
  .main {
  }
}

.aside {
  flex: 1;
  align-items: center;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  justify-content: initial;
}

@media (max-width: 768px) {
  .aside {
    display: flex;
    justify-content: center;
  }
}

.aside_figure {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 3rem 0 1rem 0 !important;
  font-size: 1.5rem;
  justify-content: center;
  max-width: 250px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .aside_figure {
    margin: 0;
  }
}

.aside_figure_h1 {
  margin: 0;
}

.aside_figure_h1_span1 {
  margin-left: 30px;
  display: block;
}
.aside_figure_h1_span2 {
  margin: 0;
  margin-left: 30px;
  font-size: 0.8rem;
  display: block;
}

.profile {
  border-radius: 50%;
  align-self: center;
}

.aside_social {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.aside_social_ln_a {
  background-color: white;
  padding: 10px;
  margin: 5px;
}

.aside_social_ln {
  background-color: white;
  border-radius: 5px;
}

.aside_social_gh_a {
  background-color: white;
  margin: 5px;
  padding: 10px;
}

.aside_social_gh {
  background-color: white;
  border-radius: 5px;
}

.blog {
}

.blog_item {
  padding: 2rem 1rem;
  border-top: 1px solid #c9d1d9;
  border-bottom: 1px solid #c9d1d9;
}

.blog_item_showcase {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.blog_item_figure {
  position: relative;
  min-height: 200px;
  margin: 0;
  margin-top: 4rem;
}
.blog_item_figure_caption {
  font-size: 0px;
}

.linkthrough_cta {
  width: 100%;
  margin-top: 1rem;
  border: 3px solid #6c2b2b;
  box-shadow: 0px 0px 10px 2px #6c2b2b;
  background-color: #21262c;
  padding: 1rem;
  line-height: 3rem;
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
  font-size: 1rem;
}

.linkthrough_cta_link {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
}
